header a {
  color: white;
}

h2, label, p {
  color: white;
  margin: 20px;
}

label {
  font-size: 24px;
}

h2 {
  color: #E8EF93;
  font-size: 36px;
}

button {
  border-radius: 10px;
  background-color: #2462BE;
  font-weight: bold;
  font-size: 18px;
}

button:hover {
  background-color: #E8EF93;
}

input {
  background-color: rgb(226, 226, 226);
  margin-right: 20px;
}

.poke-card {
  padding: 20px;
  border: 2px solid #BC3F1B;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(175, 96, 74);
  overflow: auto;
  background-color: #E8EF93;
  margin: 15px auto;
}
.poke-card img, .poke-card ul {
  width: 33%;
  text-align: left;
  float: left;
}

.poke-card ul {
  margin-bottom: 15px;
}
.poke-card img {
  height: auto;
  width: 33%;
  max-width: 150px;
}

.poke-card .buttons {
  clear: both;
}
.poke-card-fight-info {
  font-size: 24px;
}

.card-button {
  padding: 10px;
}

.new-mon-view * {
  margin: 0 auto;
  text-align: center;
}

.logged-in-view {
  margin: 0 auto;
  text-align: center;
}

.make-new-mon-button {
  padding: 15px 25px;
  margin: 15px;
}
button {
  border-radius: 10px;
  background-color: #2462BE;
  font-weight: bold;
  font-size: 18px;
  color: white
}

button:hover {
  background-color: white;
  color: #2462BE; 
}

input {
  background-color: rgb(226, 226, 226);
  margin-right: 20px;
}

.detail-view {
  margin: 0 auto;
  text-align: center;
}

#nick-update-form * {
  display: block;
  text-align: center;
  margin: 10px auto;
}

#login-form * {
  display: block;
  margin: 20px auto;
  width: 50%;
  height: 40px;
  text-align: center;
}

#fight-status {
  margin: 20px auto 0;
  text-align: center;
}

#fight-button,
#home-button {
  width: 200px;
  height: 50px;
}
.about-us h1 {
  color: white;
}
.about-us h2{
  color: #444;
  text-shadow: none;
}
.about-us p{
  color: #444;
  font-size: 1.5em;
}
.about-us img {
  margin-right: 15px;
  border-radius: 10px;
}

.poke-card.kevin img {
  max-height: 220px;
  width: auto;
}

.fight-view h4{
  margin: auto;
  color: white;
  text-align: center;
  font-size: 1.5em;
}

#fight-results {
  margin: 40px 0;
  font-size: 2.5em;
}
#fight-status {
  position: relative;
}
#fight-status img {
  width: 370px;
  height: auto; 
  position: absolute;
  top: -68px;
  left: calc(50% - 185px);
  z-index: -1;
}
#fight-status #they-win-img {
  top: -24px;
  opacity: 0.6;
  border-radius: 10px;
  height: 94px;
}
#fight-status #home-button {
  clear: both;
  display: block;
  margin: 0 auto;
}
div#loading {
  width: 160px;
  height: 160px;
  background-color: #fff ;
  padding: 20px 10px 10px 30px;
  border-radius: 100% ;
  overflow: hidden;
  margin-top: 20px;
}
#loading-img {
  width: 110px;
  max-width: 110px;
  height: auto;
  display: block;
  margin: 0 auto;
}